<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
            <div class="card card-course-item h-100">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top course-img" alt="{{this.name}}">
                </a>
                <div class="card-body d-flex flex-column">
                    <a href="/courses/{{this.slug}}" class="text-decoration-none">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <div class="mt-auto">
                        <a href="/courses/{{this.slug}}" class="btn btn-primary w-100">Mua khóa học</a>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-12 text-center py-5">
            <p class="text-muted fs-5">Chưa có khóa học nào được đăng tải.</p>
        </div>
        {{/each}}
    </div>
</div>
