<div class="mt-4">
    <h3>Khóa học đã bị xóa</h3>


    <table class="table mt-4 table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col" colspan="2">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <!-- Hiển thị số thứ tự tăng dần từ 1 -->
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td class="text-nowrap">
                    <div class="d-inline-flex gap-2">
                        <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#restoreCourse" data-bs-id="{{this._id}}">Khôi phục</button>
                       
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center py-4">
                    Chưa có khóa học nào bị xóa.
                    <a href="/courses/create" class="link-primary">Đăng khóa học tại đây</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- Form ẩn dùng gửi request PATCH -->
<form name="restore-course-form" method="POST"></form>
<!-- Modal -->
<div class="modal fade" id="restoreCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Khôi phục khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn khôi phục khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id="btn-restore-course" class="btn btn-primary">Khôi phục</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var restoreForm = document.forms['restore-course-form'];
        var restoreBtn = document.getElementById('btn-restore-course');
        var restoreModal = document.getElementById('restoreCourse')

        // lắng nghe sự kiện khi hiện tị modal
        if(restoreModal) {
            restoreModal.addEventListener('show.bs.modal', function() {
                // event.relatedTarget nút khôi phục
                var button = event.relatedTarget;
                //lấy id được gán trên nút khôi phục
                courseId  = button.getAttribute('data-bs-id')
                console.log(courseId)
            })
        }

        // xử lí xử kiện trên modal
        restoreBtn.onclick = function() {
            // thiết lập hành động
            restoreForm.action = '/mes/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit();
        }


    })
</script>


